// Mi composición de colores

$primary: #263238; //Azul
$secondary: #E67E22; //Naranja
$accent: #9C27B0; //Morado
$dark: #1D1D1D; //Negro
$positive: #21BA45; //Verde
$negative: #C10015; //Rojo
$info: #31CCEC; //Azul claro
$warning: #F2C037; //Amarillo